@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0A0908;
  --color-ink: #FFFFFF;
  --color-gold: #FFE58A;
  --muted-1: rgba(255,255,255,.75);
  --muted-2: rgba(255,255,255,.62);
  --muted-3: rgba(255,255,255,.52);
  --muted-4: rgba(255,255,255,.44);
}

body {
  background: var(--color-bg);
  color: var(--color-ink);
}
